.root {
    -fx-alignment: center;
    -fx-background-color: #b0b0b0;
}

VBox {
    -fx-spacing: 0.5em;
}

HBox {
    -fx-spacing: 1em;
}

.alignCenter {
    -fx-alignment: center;
    -fx-padding: 1em 0 0 0;
}

Label {
    /*-fx-min-width: 6em;*/
    -fx-padding: 0.25em;
    -fx-alignment: center-right;
}

Button {
    -fx-background-color: #292946;
    -fx-text-fill: #ffffff;

}

#Connection {
    -fx-padding: 2em;
}

#BookDetailView {
    -fx-padding: 2em;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: #424242;
    -fx-background-color: #d9d9d9;
}


#BookDetailView TabPane {
    -fx-background-color: #ffffff;
}

#BookDetailView Label {
    -fx-font-size: 14;
}

#BookDetailView TabPane Label {
    -fx-font-size: 12;
}


#MainWindowLeft, #MainWindowRight {
    -fx-padding: 2em;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: #424242;
}

#MainWindowRight Label {
    -fx-alignment: center-left;
    -fx-font-size: 14;
}

#BookDetailVboxRight Label {
    -fx-alignment: center-left;
}

.ButtonBar {
    -fx-spacing: 1em;
}

.ButtonBar TextField {
    -fx-pref-width: 20em;
}

#BookListView {
    -fx-pref-height: 55em;
}

#AddressView {
    -fx-padding: 0em 2em;
}

.AddressLabelLeft {
    -fx-pref-width: 6em;
}

.AddressLabelRight {
    -fx-alignment: center-right;
}

.WideTextField {
    -fx-pref-width: 28.8em;
}

.PaddingTopBottom0_2em {
    -fx-padding: 0.2em 0;
}

#AddCustomerView {
    -fx-padding: 2em;
}

#AddCustomerButtonBar {
    -fx-padding: 1em 3em 0 3em;
    -fx-alignment: center;
}
